.slide-up-enter-active,
.slide-up-leave-active {
    transition: all 0.25s ease-out;
}

.slide-up-enter-from {
    opacity: 0;
    transform: translateY(30px);
}

.slide-up-leave-to {
    opacity: 0;
    transform: translateY(-30px);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

/* page transition */

.page-transition-enter-active,
.page-transition-leave-active {
    transition:
        opacity 0.3s ease,
        filter 0.3s ease;
}

.page-transition-enter-from,
.page-transition-leave-to {
    opacity: 0;
    filter: blur(10px);
}

/* app header */

.show-link-animate {
    animation: show-link 0.5s ease backwards;
}

@keyframes show-link {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
